$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #79cdcd;
$font-color: #666;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$green: #50c878;
$turqoise: #adeaea;
$dark-blue: #036;
$border: #808080;
$red: #f00;
$fuschia: #b200b2;

.my-jumbotron {
  background-color: $fuschia;
}

.content.div {
  color: $fuschia;
  font: 80px;
  padding: 40px;
}

.recipe-box {
  border: 1px;
}

.intro-info {
  float: left;
}

.login-info {
  float: left;
}

.content-msg {
  color: $fuschia;
  font: 80px;
  padding: 20px;
}

.get-recipes-form {
  border: 1px solid;
  float: right;
  margin: 5px;
  padding: 5px;
}

.get-recipe {
  background-color: $white;
  color: $teal;
  float: left;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
}

.new-game {
  background-color: $white;
  color: $teal;
  float: left;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
}

.buttons {
  border: 1px solid $border;
  float: left;
  margin: 5px;
  padding: 5px;
}

.sign-in-button {
  background-color: $white;
  color: $teal;
}

.signing-out {
  background-color: $white;
  color: $teal;
  margin: 30px;
}

.change-password-button {
  background-color: $white;
  color: $teal;
}

h4 {
  color: $grey;
  font-size: 20px;
}

.add-recipes {
  color:$teal;
  display: inline-block;
  max-width:500px;
  padding:10px;
  padding-right: 0.75em;
  border: 1px;
  height: 50x;
  margin: auto;
}

.show-all-recipes {
  background-color: $white;
  color: $teal;
  padding: 20px;
  font-size: 20px;
}

.close-all-recipes {
  background-color: $white;
  color: $teal;
  padding: 20px;
  font-size: 20px;
}

.add-legend-class {
  color: $fuschia;
  font-size: 15px;
  margin-bottom: 2px;
  margin-left: 16px;
  padding: 20px;
}

.update-legend {
  font-size: 15px;
  margin-bottom: 2px;
  margin-left: 16px;
  padding: 20px;
}

.create-recipe-class {
  border: 1px solid $grey;
}

h5 {
  color: $teal;
  font-size: 15px;
}

.delete-recipe {
  font-size: 12px;
  padding: 10px;
  margin: 10px;
}

.update-fieldset {
  border: 1px solid $grey;
  padding: 5px;
}

.legend-class {
  color: $fuschia;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
}

.new-recipe {
  width: 500px;
  height: 50px;
}
